controller_manager:
  ros__parameters:
    update_rate: 500 # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    io_and_status_controller:
      type: ur_controllers/GPIOController

    speed_scaling_state_broadcaster:
      type: ur_controllers/SpeedScalingStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    scaled_joint_trajectory_controller:
      type: ur_controllers/ScaledJointTrajectoryController

    forward_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController

    forward_position_controller:
      type: position_controllers/JointGroupPositionController

    forward_effort_controller:
      type: effort_controllers/JointGroupEffortController

    cartesian_compliance_controller:
      type: cartesian_compliance_controller/CartesianComplianceController

    cartesian_force_controller:
      type: cartesian_force_controller/CartesianForceController

    cartesian_motion_controller:
      type: cartesian_motion_controller/CartesianMotionController

    motion_control_handle:
      type: cartesian_controller_handles/MotionControlHandle

cartesian_force_controller:
  ros__parameters:
    # See the cartesian_compliance_controller
    end_effector_link: "tool0"
    robot_base_link: "base_link"
    ft_sensor_ref_link: "tool0"
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

    # See the cartesian_compliance_controller
    command_interfaces:
      - position
        #- velocity

    solver:
      error_scale: 0.5
      publish_state_feedback: True

    pd_gains:
      trans_x: { p: 0.05 }
      trans_y: { p: 0.05 }
      trans_z: { p: 0.05 }
      rot_x: { p: 1.5 }
      rot_y: { p: 1.5 }
      rot_z: { p: 1.5 }

cartesian_motion_controller:
  ros__parameters:
    # See the cartesian_compliance_controller
    end_effector_link: "tool0"
    robot_base_link: "world"
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

    # See the cartesian_compliance_controller
    command_interfaces:
      - position
      # - velocity

    solver:
      error_scale: 0.5
      iterations: 10
      publish_state_feedback: True

    pd_gains:
      trans_x: { p: 3.0, d: 1.0 }
      trans_y: { p: 3.0, d: 1.0 }
      trans_z: { p: 3.0, d: 1.0 }
      rot_x: { p: 1.0, d: 0.1 }
      rot_y: { p: 1.0, d: 0.1 }
      rot_z: { p: 1.0, d: 0.1 }

motion_control_handle:
  ros__parameters:
    end_effector_link: "tool0"
    robot_base_link: "base_link"
    ft_sensor_ref_link: "tool0"
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

cartesian_compliance_controller:
  ros__parameters:
    end_effector_link: "tool0"

    robot_base_link: "base_link"

    # ft_sensor_ref_link: "tool0"

    compliance_ref_link: "tool0"

    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

    command_interfaces:
      - position
        #- velocity

    stiffness: # w.r.t. compliance_ref_link coordinates
      trans_x: 500.0
      trans_y: 500.0
      trans_z: 500.0
      rot_x: 20.0
      rot_y: 20.0
      rot_z: 20.0

    solver:
      error_scale: 0.5
      iterations: 1
      publish_state_feedback: True

    # For all controllers, these gains are w.r.t. the robot_base_link coordinates.
    pd_gains:
      trans_x: { p: 0.05, d: 0.005 }
      trans_y: { p: 0.05, d: 0.005 }
      trans_z: { p: 0.05, d: 0.005 }
      rot_x: { p: 1.5 }
      rot_y: { p: 1.5 }
      rot_z: { p: 1.5 }

forward_effort_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces: [effort]
    state_publish_rate: 100.0
    action_monitor_rate: 20.0

speed_scaling_state_broadcaster:
  ros__parameters:
    state_publish_rate: 100.0

joint_trajectory_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.2
      goal_time: 0.0
      shoulder_pan_joint: { trajectory: 0.2, goal: 0.1 }
      shoulder_lift_joint: { trajectory: 0.2, goal: 0.1 }
      elbow_joint: { trajectory: 0.2, goal: 0.1 }
      wrist_1_joint: { trajectory: 0.2, goal: 0.1 }
      wrist_2_joint: { trajectory: 0.2, goal: 0.1 }
      wrist_3_joint: { trajectory: 0.2, goal: 0.1 }

scaled_joint_trajectory_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    speed_scaling_interface_name: ""
    state_publish_rate: 200.0
    action_monitor_rate: 50.0
    allow_partial_joints_goal: false
    constraints:
      stopped_velocity_tolerance: 0.0
      hold_position: true
      goal_time: 0.6
      # shoulder_pan_joint: { trajectory: 0.2, goal: 0.1 }
      # shoulder_lift_joint: { trajectory: 0.2, goal: 0.1 }
      # elbow_joint: { trajectory: 0.2, goal: 0.1 }
      # wrist_1_joint: { trajectory: 0.2, goal: 0.1 }
      # wrist_2_joint: { trajectory: 0.2, goal: 0.1 }
      # wrist_3_joint: { trajectory: 0.2, goal: 0.1 }

forward_velocity_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    interface_name: velocity

forward_position_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
